/* VERTICAL */
.cardBasicVertical {
    width: calc(100% / 9);
    height: 100px;
    background-color: #fff;
    /* box-shadow: 2px 2px 0px 0px #000 inset; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardRailroadVertical {
    width: calc(100% / 9);
    height: 100px;
    background-color: #000;
}

.cardChestVertical {
    width: calc(100% / 9);
    height: 100px;
    background-color: #67ebeb;
}

.cardChanseVertical {
    width: calc(100% / 9);
    height: 100px;
    background-color: #6370e4;
}

.cardTaxVertical {
    width: calc(100% / 9);
    height: 100px;
    background-color: #e5e90d;
}


/* HORIZONTAL */
.cardBasicHorizontal {
    width: 100px;
    height: calc(100% / 9);
    background-color: #fff;
    box-shadow: 2px 2px 0px 0px #000 inset;
}

.cardRailroadHorizontal {
    width: 100px;
    height: calc(100% / 9);
    background-color: #000;
}

.cardChestHorizontal {
    width: 100px;
    height: calc(100% / 9);
    background-color: #67ebeb;
}

.cardChanseHorizontal{
    width: 100px;
    height: calc(100% / 9);
    background-color: #6370e4;
}

.cardTaxHorizontal {
    width: 100px;
    height: calc(100% / 9);
    background-color: #e5e90d;
}

/* DESIGN OF CARDS */
.mainContent {
    width: 95%;
    height: 95px;
    background-color: #4b4b4b;
    display: flex;
    flex-direction: column;
}

.topSection {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic1 {
    background-color: #f7ecec;
    background-image:  url(../img/tris.jpg);
    background-size: cover;
}

.basic2 {
    background-color: #6370e4;
}