/* VERTICAL */
.cardBasicVertical {
    width: calc(100% / 9);
    height: 140px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardRailroadVertical {
    width: calc(100% / 9);
    height: 140px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardChestVertical {
    width: calc(100% / 9);
    height: 140px;
    background-color: #67ebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardChanseVertical {
    width: calc(100% / 9);
    height: 140px;
    background-color: #6370e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardTaxVertical {
    width: calc(100% / 9);
    height: 140px;
    background-color: #e5e90d;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* HORIZONTAL */
.cardBasicHorizontal {
    width: 140px;
    height: calc(100% / 9);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardRailroadHorizontal {
    width: 140px;
    height: calc(100% / 9);
    background-color: #000;
}

.cardChestHorizontal {
    width: 140px;
    height: calc(100% / 9);
    background-color: #67ebeb;
}

.cardChanseHorizontal{
    width: 140px;
    height: calc(100% / 9);
    background-color: #6370e4;
}

.cardTaxHorizontal {
    width: 140px;
    height: calc(100% / 9);
    background-color: #e5e90d;
}

/* DESIGN OF CARDS */
.mainContentVertical {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
}

.mainContentHorizontal {
    width: ;
}

.mainContentFill {
    width: 95%;
    height: 95%;
    background-color: #262626;
    color: #e6e6e6;
    border-radius: 5px; 
}

.topSection {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomSection {
    width: 100%;
    height: 110px;
    background-color: #262626;
    border-radius: 5px  ;
}

.basicBG1 {
    background: linear-gradient(to bottom, #d32a2a, #6a0d0d);
    background-size: cover;
    background-blend-mode: overlay;
}

.basicBG2 {
    background: linear-gradient(to bottom, #2a5dd3, #183f9b);
    background-size: cover;
    background-blend-mode: overlay;
}