#gui {
    width: 100%;
    height: 100%;

    color: #fff;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* user-select: none;
    pointer-events: none; */

    left: 0;
    z-index: 1;
}

#leftGui {
    width: 350px;
    height: 100vh;

    background-color: #3e3e3e;
    

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;

    left: 0;
}

#playerBankCounter {
    font-size: 30px;
}

#cardsCheckBtn {
    width: 90%;
    height: 50px;
    margin-bottom: 20px;

    font-size: 20px;
    color: #fff;
    background-color: #727272;
    border: 0;
    border-radius: 10px;
}

#cardsCheckBtn:hover {
    background-color: #8a8a8a;
}

#cardInfoBtn {
    width: 80px;
    height: 30px;

    color: #fff;
    background-color: #727272;

    position: absolute;
}

#cardInfoCheck:hover {
    background-color: #8a8a8a;
}

#settingsBtn {
    width: 70px;
    height: 70px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    /* background-image: url(../img/icons/settings.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: transparent;

    position: absolute;
    right: 20px;
    top: 20px;
}

#settingsLogo {
    transition: 1s;
}

#settingsLogo:hover {
    scale: 105%;
    rotate: 360deg;
}

#settingsBtn img {
    width: 80%;
    height: 80%;
}

#settings img:hover {
    animation: gear-anim, 2s, ease-in-out;
    
}

#settingsBtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.playerPosUI {
    width: 300px;
    height: 50px;

    /* padding: 0 10px 0 10px; */
    background-color: #8a8a8a;
    border-radius: 10px;

    display: flex;
    /* justify-content: space-between;   */
    align-items: center;
    gap: 8px;
}

.playerPlaceNum {
    margin-left: 15px;
}

.userLogo {
    width: 40px;

    object-fit: cover;
    background-position: center;
    background-size: cover;
}