#land {
   width: 1000px;
   height: 1000px;
   background-color: rgb(67, 67, 67);
   /* background-image: url("../img/tris.jpg");
   background-size: cover;   */
   display: flex;
   flex-direction: column;
   border-radius: 20px;
}

#top {
    width: 100%;
    height: 140px;
    display: flex;
}

#midle {
    width: 100%;
    height: 720px;
    display: flex;
}

#bottom {
    width: 100%;
    height: 140px;
    display: flex;
}

#leftSide {
    width: 140px;
    height: 720px;
    display: flex;
    flex-direction: column;
}

#rightSide {
    width: 140px;
    height: 720px;
    display: flex;
    flex-direction: column;
}

.contentCards {
    width: 720px;
    height: 140px;
    display: flex;
}

/* corners */
.cornerBlocks {
    width: 140px;
    height: 140px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
}

.cornerContent {
    width: 95%;
    height: 95%;
    background-color: #262626;
    border-radius: 5px 5px 18px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startBlock {
    border-radius: 0 0 20px 0;
}

#jailBlock {
    border-radius: 0 0 0 20px;
}

#vacationBlock {
    border-radius: 20px 0 0 0;
}

#goToJailBlock {
    border-radius: 0 20px 0 0;    
}

#textCorner {
    rotate: -45deg;
}

#cornerGoToJail {
    rotate: 270deg;
}

#cornerJail {
    rotate: 90deg;
}

#cornerVacation {
    rotate: 180deg;
}

/* MIDLE */
#midleMain {
    width: 720px;
    height: 720px;
    display: flex;
}

#leftPart {
    width: calc(100%/3);
    height: 100%;
}

#centralPart {
    width: calc(100%/3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#rightPart {
    width: calc(100%/3);
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

#randomBtn {
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background-color: #262626;
    color: #fff;
}

#randomBtn:hover {
    background-color: rgb(80, 80, 80);
}

.card {
    width: 170px;
    height: 250px;
    background-color: #262626;
    border-radius: 10px;
}

#leftCard {
    rotate: 45deg;
    position: relative;
    left: 70px;
    top: 30px;
}

#rightCard {
    rotate: 45deg;
    position: relative;
    bottom: 30px;
}