#land {
   width: 1000px;
   height: 1000px;
   background-color: rgb(67, 67, 67);
   /* background-image: url("../img/tris.jpg");
   background-size: cover;   */
   display: flex;
   flex-direction: column;
   border-radius: 20px;
}

#top {
    width: 100%;
    height: 140px;
    display: flex;
}

#midle {
    width: 100%;
    height: 720px;
    display: flex;
}

#bottom {
    width: 100%;
    height: 140px;
    display: flex;
}

#leftSide {
    width: 140px;
    height: 720px;
    display: flex;
    flex-direction: column;
}

#midleMain {
    width: 720px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightSide {
    width: 140px;
    height: 720px;
    display: flex;
    flex-direction: column;
}

.contentCards {
    width: 720px;
    height: 140px;
    display: flex;
}

/* corners */
.cornerBlocks {
    width: 140px;
    height: 140px;
    background-color: #e64848;
}

#startBlock {
    border-radius: 0 0 20px 0;
}

#jailBlock {
    border-radius: 0 0 0 20px;

}

#vacationBlock {
    border-radius: 20px 0 0 0;
}

#goToJailBlock {
    border-radius: 0 20px 0 0;    
}