* {
    padding: 0;
    margin: 0;

    font-family: roboto;
}

body {
    width: 100%;
    height: 100vh;
    /* background-color: #282828; */
    background-image: url("../img/background/bg1.png");
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px) brightness(30%);
    /* backdrop-filter: ;  */
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}