<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="css/settings-menu.css">
    <link rel="stylesheet" href="css/main-menu.css">
</head>
<body>
     <nav class="menuPattern" id="mainMenu">
        <img id="monopolyLogo" src="img/logo/white_logos/coca-cola_logo.png" alt="coca">
        <h1>Error: 404</h1>
        <p>This page is not exist</p>
        <a href="index.html">Return to main menu</a>
        <p class="authorText">GAME CREATED BY ARGGE</p>
     </nav>
</body>
</html>