<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="css/settings-menu.css">
    <link rel="stylesheet" href="css/main-menu.css">
</head>
<body>
     <nav class="menuPattern" id="mainMenu">
        <img id="monopolyLogo" src="img/logo/white_logos/coca-cola_logo.png" alt="coca">
        <input type="text" name="username" class="textInp" id="usernameInp">
        <div id="colorChange">
            <input type="radio" name="color" id="red" value="playerRed">
            <label for="red">RED</label>
            <input type="radio" name="color" id="blue" value="playerBlue">
            <label for="blue">BLUE</label>
            <input type="radio" name="color" id="green" value="playerGreen">
            <label for="green">GREEN</label>
            <input type="radio" name="color" id="yellow" value="playerYellow">
            <label for="yellow">YELLOW</label>
        </div>
        <button class="setBtn" id="playBtn">PLAY</button>
        <p class="authorText">GAME CREATED BY ARGGE</p>
     </nav>
</body>
<script src="js/menu.js" defer></script>
</html>