/* DICE */
#gamingDice {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .3);
}

/* VALUE 1 */
#valueDice1 {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* VALUE 2 */
#valueDice2 {
    rotate: 45deg;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* VALUE 3 */
#valueDice3 {
    rotate: 45deg;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* VALUE 4 */
#valueDice4 {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#topDots {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#bottomDots {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* VALUE 5 */
#valueDice5 {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#midleDots {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* VALUE 6 */
#valueDice6 {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* DOT */
.dot {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
}