.player {
    width: 20px;
    height: 20px;

    border-radius: 50%;
}

.playerRed {
    background-color: #ff0000;
}

.playerBlue {
    background-color: #2600ff;
}

.playerYellow {
    background-color: #ffea00;
}

.playerGreen {
    background-color: #09ff00;
}